<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QLDSV_TC.Properties.Settings.QLDSV_TCConnectionString"
      connectionString="Data Source=(local)\MSSQLSERVER01;Initial Catalog=QLDSV_TC;Persist Security Info=True;User ID=sa;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="QLDSV_TC.Properties.Settings.QLDSV_TCConnectionString1"
      connectionString="Data Source=(local)\MSSQLSERVER01;Initial Catalog=QLDSV_TC;Persist Security Info=True;User ID=LNKT;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="QLDSV_TC.Properties.Settings.QLDSV_TCConnectionString2"
      connectionString="Data Source=(local)\MSSQLSERVER03;Initial Catalog=QLDSV_TC;Persist Security Info=True;User ID=sa;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="localhost_QLDSV_TC_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=;password=;initial catalog=QLDSV_TC;Persist Security Info=true" />
    <add name="localhost_QLDSV_TC_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=;password=;initial catalog=QLDSV_TC;Persist Security Info=true" />
    <add name="localhost_QLDSV_TC_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=1234;initial catalog=QLDSV_TC;Persist Security Info=true" />
    <add name="localhost_QLDSV_TC_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=;password=;initial catalog=QLDSV_TC;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>